@*@model IQueryable<NoteBook.Domain.Entity.State>*@
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteBook2</title>
    <meta name="author" content="Yurii Trofimenko">
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/wwwroot/css/custom.css">
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <div class="loader"></div>
    <div>
        @*@foreach (var order in Model)
        {
        <div>@order.id</div>
        }*@

        @*<div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-1 col-lg-3 text-center">text1</div>
                <div class="col-md-1 col-lg-3 text-center">text2</div>
                <div class="col-md-1 col-lg-3 text-center">text3</div>
                <div class="col-md-1 col-lg-3 text-center">text4</div>
            </div>
        </div>*@

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" title="Перейти на сайт" href='@Url.Action(" Index", "Default" )'>NoteBook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#orders">Заказы <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#states">Состояния</a>
                    </li>
                    <li id="auth-item" class="nav-item">
                        <a id="sign-in" class="nav-link" href="#auth">SignIn</a>
                        <a id="sign-out" class="nav-link" href="#auth">SignOut</a>
                    </li>
                    <li id="reg-item" class="nav-item">
                        <a id="sign-up" class="nav-link" href="#auth:registration">SignUp</a>
                    </li>
                </ul>
               
            </div>
        </nav>
        <section id="orders" class="container active" src='@Url.Content("~/wwwroot/pages/orders.htm")'></section>
        <section id="states" class="container" src='@Url.Content("~/wwwroot/pages/states.htm")'></section>
        <section id="auth" class="container" src='@Url.Content("~/wwwroot/pages/auth.htm")'></section>
    </div>
    <script src='@Url.Content("~/wwwroot/js/jquery-3.2.1.min.js")'></script>
    <script src='@Url.Content("~/wwwroot/js/bootstrap/bootstrap.min.js")'></script>
    <script src='@Url.Content("~/wwwroot/js/jquery-hashchange.js")'></script>
    <!-- include hogan -->
    <script src='@Url.Content("~/wwwroot/js/hogan-3.0.2.min.js")'></script>
    <script src='@Url.Content("~/wwwroot/js/app-admin.js")'></script>
    <script src='@Url.Content("~/wwwroot/js/custom.js")'></script>
    </body>
</html>
